.block {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  padding-inline: 24px;
}

.textarea {
  textarea {
    min-width: 40vw;
  }
}

.avatars {
  align-items: flex-start;
  justify-content: start;
}